affine==2.4.0
aiobotocore==2.21.1
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aioitertools==0.12.0
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.1.0
botocore==1.37.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.1
cmdstanpy==1.2.5
contextily==1.6.2
contourpy==1.3.1
cramjam==2.9.1
cycler==0.12.1
Cython==3.0.12
dask==2025.3.0
fastparquet==2024.11.0
filelock==3.18.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.3.0
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
holidays==0.71
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.8
lightgbm==4.6.0
locket==1.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mercantile==1.2.1
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.2
numpy==2.2.3
pandas==2.2.3
partd==1.4.2
patsy==1.0.1
pillow==11.1.0
pmdarima==2.0.4
propcache==0.3.0
prophet==1.1.6
pyarrow==19.0.1
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.1
pytz==2025.1
PyYAML==6.0.2
rasterio==1.4.3
requests==2.32.3
s3fs==2025.3.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shapely==2.0.7
statsmodels==0.14.4
sympy==1.13.1
threadpoolctl==3.6.0
toolz==1.0.0
torch==2.6.0
torch-geometric==2.6.1
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.67.1
tzdata==2025.1
urllib3==2.3.0
wrapt==1.17.2
xyzservices==2025.1.0
yarl==1.18.3
zipp==3.21.0